.container{
    background-color: lightblue;
}
.videotitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .musicvideos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .iframevideos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .iframe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .innervideos {
    margin: 20px;
  }
  